.board {
  background-color: blue;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: fit-content;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.btn {
  border: none;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  color: black;
  font-size: 2rem;
  padding: 1rem;
}

.btn:disabled {
  cursor: not-allowed;
  color: lightgray;
}
